<% if resource.errors.any? %>
  <div id="error_explanation" class="container alert alert-danger">
    <% resource.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>
