<div class="container-fluid" style="width: 50%">
    <div>
        <%= render "header", application: @application %>
    </div>
    <br>
    <%= render "details", application: @application %>
    <br>
    <%= employer_controls(@application) %>
    <br>
</div>