<div class="container-fluid" style="width: 50%">
    <div>
        <%= render "header", application: @application %>
        <br>
        <%= employer_controls(@application) %>
    </div>
    <br>

    <%= render "details", application: @application %>
</div>