<div class="container-fluid justify-content-center" style="width: 50%">
    <div>
        <h1>Edit Job</h1>
    </div>

    <%= render partial: "jobs/forms/form_edit_from_location", locals: { job: @job, location: @location } %>
</div>