<div class="container-fluid justify-content-center" style="width: 50%">
    <div>
        <h1 class="display-5">Edit Job</h1>
    </div>

    <%= render "jobs/forms/form_edit_from_location", job: @job, location: @location %>
</div>