<div class="container-fluid" style="width: 50%">
    <h1>All Jobs <%= "in #{@location.city}" if @location %></h1>
    <br>
    <div>
        <% if current_user.employer && @location %>
            <%= link_to "Post Job in #{@location.city}", new_location_job_path(@location), class: "btn btn-outline-primary" %>
        <% end %>
    </div>
    <br>
    <div>
        <% if !@jobs.empty? %>
            <ol>
                <% @jobs.each do |job| %>
                    <li><%= link_to job.title, location_job_path(job.location, job) %></li>
                <% end %>
            </ol>
        <% else %>
            <p>No jobs posted yet.</p>
        <% end %>
    </div>
</div>