<div class="container-fluid mx-auto" style="width: 50%">
    <h1>All Jobs <%= "in #{@location.city}" if @location %></h1>
    <div>
        <% if current_user.employer && @location %>
            <br><%= link_to "Post Job in #{@location.city}", new_location_job_path(@location), class: "btn btn-outline-primary" %>
        <% end %>
    </div>
    <br>
    <%= render(partial: "card_index", collection: @jobs, as: :job) || "No jobs posted yet." %>
</div>

