<div class="card mx-auto">
    <h4 class="card-header"><%= user.name %></h4>
    <div class="card-body">
        <%= user_location_count(user) %>
        <%= open_positions_by_user(user) %>
        <%= button_to "View Jobs", user_path(user), class: "btn btn-outline-primary float-end", method: :get %>
    </div>
</div>
<br>