<div class="container-fluid" style="width: 50%">
    <h1>My Applications</h1>
    <br>
    <%= render(partial: "applications/card_index", collection: @applications, as: :application) || "You havent applied to any jobs yet."%>
</div>
