<%= form_with model: job, url: location_job_path(location, job) do |f| %>

    <%= render "jobs/forms/shared_fields", job: job, f: f %>

    <%= render "jobs/forms/location_fields", locations: @locations, f: f %>

    <div class="actions">
        <%= f.submit "Edit Job", class: "btn btn-outline-primary" %>
    </div>

<% end %>