<%= form_with model: job, url: location_jobs_path(location) do |f| %>

    <%= render "jobs/forms/shared_fields", job: job, f: f %>

    <div class="actions">
        <%= f.submit "Post Job", class: "btn btn-outline-primary" %>
    </div>
<% end %>