<div class="btn-group">
    <%= link_to "Review Applications (#{job.applications.count})", job_applications_path(job), class: "btn btn-outline-primary" %>
    <%= link_to "Edit Job", edit_location_job_path(job.location, job), class: "btn btn-outline-primary" %>
    <%= link_to "Delete Job", location_job_path(job.location, job), method: :delete, class: "btn btn-outline-primary" %>
</div><br><br>