<span class="user_detail align-middle" style="font-weight: bold"><%= current_user.name %></span><br>
<span class="user_detail align-middle"><%= current_user.employer ? "Employer" : "Applicant" %></span>