<div class="card mx-auto">
    <h5 class="card-header"><%= location.city %></h5>
    <div class="card-body">
        <%= job_company_count(location) %>
        <%= open_positions(location) %>
        <%= button_to "View Location", location_jobs_path(location), class: "btn btn-outline-primary float-end", method: :get %>
    </div>
</div>
<br>