<div class="card mx-auto">
    <h5 class="card-header"><%= location.city %></h5>
    <div class="card-body">
        <%= job_company_count(location) %>
        <%= open_positions_by_location(location) %>
        <%= view_jobs_in_button(location) %>
    </div>
</div>
<br>