<div class="container-fluid" style="width: 50%">
    <h1>All Locations</h1>
    <br>
    <%= render(partial: "card_index", collection: @locations, as: :location) || "No locations available yet." %>
</div>